
<div class="container" >


<div class="jumbotron">
  <h3>Demongo : See MongoDB in Action!</h3>
  <p class="lead">
    <img src="/images/mongodb-logo.png" alt="MongoDB Logo"><br>
    Discover the power of MongoDB query engine using a simple Twitter database!
	<p>
		Twitter User :<h3> #demobash #mongodb #nosql</h3>
	</p>
  </p>
</div>

<div class="col-md-5">
    <h4>Technology</h4>
	<div>
		This application is based on the MEAN stack:
		<ul>
			<li><a href="http://www.mongodb.com/" target="_help" ><strong>M</strong>ongoDB</a> : data storage, queries and aggregation</li>
			<li><a href="http://expressjs.com/" target="_help" ><strong>E</strong>xpressJS</a> : REST layer</li>
			<li><a href="http://angularjs.org/" target="_help" ><strong>A</strong>ngularJS</a> : User Experience</li>
			<li><a href="http://nodejs.org/" target="_help" ><strong>N</strong>ode.js</a> : Application Server</li>
		</ul>
		
		and uses many features from MongoDB including:
		<ul>
			<li><a href="http://docs.mongodb.org/ecosystem/drivers/node-js/" target="_help" >Node.js Driver</a> (<a href="http://docs.mongodb.org/ecosystem/drivers/java/" target="_help" >Java for the injector</a>)</li>
			<li><a href="http://docs.mongodb.org/manual/indexes/" target="_help" >Simple Queries</a></li>
			<li><a href="http://docs.mongodb.org/manual/core/index-text/" target="_help" >Full Text Queries</a></li>
			<li><a href="http://docs.mongodb.org/manual/applications/geospatial-indexes/" target="_help" >GeoSpacial Queries</a></li>
			<li><a href="http://docs.mongodb.org/manual/aggregation/" target="_help" >Aggregator Framework</a></li>
			<li><a href="http://docs.mongodb.org/manual/crud/" target="_help" >Create, Update ... operations</a></li>
		</ul>
		
	</div>
</div>

<div class="col-md-2">
	<img src="/images/mongodb-logo.png" alt="MongoDB Logo" width="100">
	<img src="https://github-camo.global.ssl.fastly.net/40504dd28b050be0e43c6ef1e2735b2caf147dd4/687474703a2f2f662e636c2e6c792f6974656d732f30563253316e304b3169337931633132326730342f53637265656e25323053686f74253230323031322d30342d31312532306174253230392e35392e3432253230414d2e706e67" alt="ExpressJS" width="100">
	<img src="http://angularjs.org/img/AngularJS-large.png" alt="AngularJS" width="100">
	<img src="http://i.stack.imgur.com/p8fXw.png" alt="Node.js Logo" width="100">
	
	
</div>


<div class="col-md-5">
    <h4>Contribute</4>
</div>

</div>